<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.autodesk.shejijia.shared">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="com.autodesk.shejijia.shared.framework.activity.NavigationBarActivity"/>

        <activity android:name=".components.form.ui.activity.ProjectIdCodeActivity"/>
        <activity android:name=".components.form.ui.activity.QRCodeActivity"/>
        <activity android:name=".components.form.ui.activity.ProjectInfoActivity"/>
        <activity android:name=".components.form.ui.activity.PrecheckActivity"/>
        <activity android:name=".components.form.ui.activity.ThemeDialogActivity"
            android:theme="@style/FromConfirmStyle">

        </activity>

    </application>

</manifest>